<!DOCTYPE html>
<html>

	<head>
		<title>{{title}}</title>
	</head>

	<body>
		<h1>
			Hellow from Handlebars
		</h1>
		
		<ul>
			{{#each list}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	</body>

</html>
